<div class="row">
	<div class="col-md-8"> 
		<span>https://www.youtube.com/watch?v=</span><input type="text" ng-model="theBestVideo" ng-change="changeVid()" />
		<youtube-video video-url="theBestVideo"></youtube-video>
	</div>
	<div class="col-md-4"> 
		<stamp-list stamps="stamps" player="player"></stamp-list>
	</div>
</div>

<div class="row">
<form ng-submit="createStamp()">
  <span id="new-stamp-time">{{newStamp.time}}</span><input id="new-stamp-input" ng-model="newStamp.input" ng-keypress="keypress()" type="text" autocomplete="off" />
  <input type="submit" value="Create Timestamp" />
  <p id="hint">Press '?' for shortcuts.</p>
</form>
</div>

<!-- Modal -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Copy & Paste to Youtube</h4>
      </div>
      <div class="modal-body">
  		<div ng-repeat="stamp in stamps | orderBy: 'time'">
			<span>{{stamp.time}}</span> <span>{{stamp.input}}</span>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

